 <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>TALK.TECH</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="path/to/logo.png" alt="Logo" class="img-responsive center-block" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="blog-post-card">
            <h3>Blog Post Title</h3>
            <p>Blog post content goes here.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
					<a href='/register' class="btn-default">Register</a>
          <a href='home' class="btn btn-default">HOME</a>
          <a href="/dashboard" class="btn btn-default">DASH</a>
        </div>
      </div>
    </div>
